<!DOCTYPE html>

<html>
    <head>
        <title>Layout Adaptável e Responsivo </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Layout Adaptável e Responsivo</h1>
        <h2>Utilizando CSS Media Queries</h2>
        <header>
            <p id="medidas">
                Largura: <span id="largura"></span>
                Altura: <span id="altura"></span>                
            </p>
            <p class="horizontal">Modo Paisagem</p>
            <p class="vertical">Modo Retrato</p>
            <script src="js/medidas.js"></script>
        </header>
        <section>
             <h1>Eleições 2014</h1>
             <h2>Situação</h2>
            
            <figure>
            
                <img src="http://goo.gl/bgJiC6" alt="Dilma chateada" />
            
                <figcaption><a href="">Dilma com cara chateada</a></figcaption>
            
            </figure>
            
              <figure>
            
                <img src="http://fernandonogueiracosta.files.wordpress.com/2012/05/posse-da-dilma.jpg" alt="Dilma mandando beijo" />
            
                <figcaption><a href="">Dilma mandando beijo</a> </figcaption>
            
            </figure>
             <br/>
             <br/>
             <h2 class="final">Oposição</h2>
             
             <figure>
            
                <img src="http://goo.gl/5ld4wG" alt="Aécio Neves" />
            
                <figcaption><a href="">Perfil</a> </figcaption>
            
            </figure>
             
             <figure>
            
                <img src="http://goo.gl/C2OWKy" alt="Aécio e a bandeira do Brasil" />
            
                <figcaption><a href="">Aécio e a bandeira do Brasil!</a> </figcaption>
            
            </figure>
            
             <h2></h2>
             <br class="final"/>
        </section>
    </body>
</html>
